// COLOURS
$honeyDew : #DAF1DE;
$brunswickGreen: #235347;
$timberwolf: #DAD7CD;

.app {
    // Centering all content 
    display: flex;
    justify-content: center;
    .container {
        // Width of main content container 
        width: 1024px;

        // Styling of all links
        .link {
            text-decoration: none;
            color: inherit;
        }

        // -----------------------------
        // LOGIN & REGISTER PAGE 
        // -----------------------------
        .auth {
            // Centering form horizontally
            display: flex;
            align-items: center;
            justify-content: center;
            // Center vertically
            height: 100vh;
            // Set background colour
            background-color: $honeyDew;
            // Set h1 above form
            flex-direction: column;

            h1 {
                font-size: 30px;
                margin-bottom: 20px;
            }
            
            form {
                // Center inputs vertically
                display: flex;
                flex-direction: column;
                // Set padding and width (white box)
                padding: 25px;
                width: 200px;
                // Set background colour
                background-color: white;
                // Space between inputs
                gap: 20px;

                input {
                    padding: 10px;
                    border: none;
                    border-bottom: 1px solid gray;
                }

                button {
                    padding: 10px;
                    border: none;
                    background-color: yellow;
                    cursor: pointer;
                    // color: white
                }

                p {
                    font-size: 12px;
                    color: red;
                    text-align: center;
                }

                span {
                    font-size: 12px;
                    text-align: center;
                }
            }
        }
        // -----------------------------
        // NAVBAR 
        // -----------------------------
        .navbar {
            // Margin from botton of nav to content
            margin-bottom: 50px;
            .container {
                padding: 10px 0px;
                // Make navbar horizontal 
                display: flex;
                // Seperating logo and links
                justify-content: space-between;
                // Center items
                align-items: center;
                .logo {
                    // Decrease image size
                    img {
                        width: 120px;
                    }

                }
                .links {
                    // Set links to horizontal
                    display: flex;
                    // Center links 
                    align-items: center;
                    // Gap between nav links
                    gap: 20px;
                    text-transform: uppercase;

                    h6 {
                        font-size: 16px;
                        font-weight: 300;
                    }

                    span {
                        cursor: pointer;
                    }

                    .write {
                        width: 50px;
                        height: 50px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-weight: 300;

                        &:hover {
                            color: red;
                        }
                    }
                }
            }
        }
        // -----------------------------
        // FOOTER 
        // -----------------------------
        footer {
            // Spacing between footer and main content
            margin-top: 100px;

            padding: 20px;
            background-color: $timberwolf;

            // Horizontal alignment
            display: flex;
            align-items: center;
            justify-content: space-between;
            // Footer message 
            font-size: 12px;
            img {
                height: 50px;
            }
        }
        // -----------------------------
        // HOME PAGE 
        // -----------------------------
        .home {
            .posts {
                //
                display: flex;
                flex-direction: column;
                // Gap between each post
                gap: 150px;

                .post {
                    // Horizontal align each post
                    display: flex;
                    // Gap between image and text
                    gap: 100px;

                    // Odd number posts have image on right
                    // and content on the left
                    &:nth-child(2n + 1) {
                        flex-direction: row-reverse;
                    }
                    .img {
                        flex: 2;
                        // Adding in box behind image for aesthetic purposes
                        // Making the initial point the top left of the image
                        position: relative;
                        &::after {
                            content: "";
                            width: 100%;
                            height: 100%;
                            background-color: red;
                            // Set absolute position relative to parent (post image)
                            position: absolute;
                            top: 20px;
                            left: -20px;
                            // Setting box behind post image
                            z-index: -1;
                        }
                        img {
                            // Set image size to parent div
                            width: 100%;
                            max-height: 300px;
                            object-fit: cover;
                        }
                    }
                    .content {
                        flex: 3;
                        // Aligning vertically
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;

                        h1 {
                            font-size: 38px;
                        }
                        p {
                            font-size: 18px;
                        }
                        button {
                            width: max-content;
                            padding: 10px 20px;
                            border: none;
                            cursor: pointer;
                            background-color: white;
                            border: 1px solid red;
                            color: green;

                            &:hover {
                                border: 1px solid blue;
                            }
                        }
                    }
                }
            }
        }
    }
}